.main {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1) 100%), url('Group 1.png');
  background-size: cover;
  height: 1800vh;
  width: 100%;
  scroll-behavior: smooth;
}

.navbar {
  height: 70px;
  z-index: 1;


}

.navbar-nav {
  font-weight: 700;
  font-family: raleway;



  ;
}

.navbar-brand {
  width: 190px;
  height: 38px;
  font-size: 30px;
  padding-left: 40px;
  margin-top: -20px;
}

.nav-link1 {

  text-decoration: none;
  color: #000000;
  width: 131px;
  height: 29px;
  left: 1003px;
  top: 39px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #000000;
  text-decoration: none;
  color: #000000;
  width: 100px;
  height: 29px;
  left: 1003px;
  top: 39px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #000000;
  cursor: pointer;
}

.nav-link1:hover {
  transition: all 0.5s;
  -webkit-text-stroke: 2px #eda8db;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 25px;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc,
    2px 2px 0px #e601c0,
    4px 4px 0px #e9019a,
    6px 6px 0px #f40468,
    8px 8px 3px #76ade1;
  cursor: pointer;
}

.nav-link1::after {
  transition: all 0.5s;
  -webkit-text-stroke: 4px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 35px;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,
    20px 20px 0px #e9019a,
    25px 25px 0px #f40468,
    45px 45px 10px #482896;
  cursor: pointer;
}

.nav-link2 {

  text-decoration: none;
  color: #000000;
  width: 131px;
  height: 29px;
  top: 39px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.nav-link2:hover {
  transition: all 0.5s;
  -webkit-text-stroke: 2px #eda8db;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 25px;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc,
    2px 2px 0px #e601c0,
    4px 4px 0px #e9019a,
    6px 6px 0px #f40468,
    8px 8px 3px #76ade1;
  cursor: pointer;
}

.nav-link3 {

  text-decoration: none;
  color: #000000;
  width: 131px;
  height: 29px;
  left: 1003px;
  top: 39px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.nav-link3:hover {
  transition: all 0.5s;
  -webkit-text-stroke: 2px #eda8db;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 25px;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc,
    2px 2px 0px #e601c0,
    4px 4px 0px #e9019a,
    6px 6px 0px #f40468,
    8px 8px 3px #76ade1;
  cursor: pointer;
}

.nav-link4 {

  text-decoration: none;
  color: #000000;
  width: 80px;
  height: 29px;
  left: 1003px;
  top: 39px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.nav-link4:hover {
  transition: all 0.5s;
  -webkit-text-stroke: 2px #eda8db;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 25px;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc,
    2px 2px 0px #e601c0,
    4px 4px 0px #e9019a,
    6px 6px 0px #f40468,
    8px 8px 3px #76ade1;
  cursor: pointer;
}

.nav-link5 {

  text-decoration: none;
  color: #000000;
  width: 150px;
  height: 29px;
  left: 1003px;
  top: 39px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.nav-link5:hover {
  transition: all 0.5s;
  -webkit-text-stroke: 2px #eda8db;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 25px;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc,
    2px 2px 0px #e601c0,
    4px 4px 0px #e9019a,
    6px 6px 0px #f40468,
    8px 8px 3px #76ade1;
  cursor: pointer;
}




.heading {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 554px;
  height: 212px;
  left: 122px;
  top: 250px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 75px;
  text-align: center;

  color: #000000;

  mix-blend-mode: darken;
  padding-bottom: 40px;
}

.comp {
  position: relative;
  color: #1284EE;
  padding-left: 20px;
}

.sub {
  position: absolute;
  width: 549px;
  height: 89px;
  left: 119px;
  top: 450px;

  font-family: 'Raleway';
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;

}

.astro {
  position: absolute;
  width: 840px;
  height: 1062px;
  left: 668px;
  top: -64px;


}

.get-started {
  position: absolute;
  width: 236px;
  height: 76px;
  left: 261px;
  top: 558px;

  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
  background-color: white;
  border: none;
  font-size: x-large;
  font-weight: 400;
  font-family: 'Raleway';
}

.get-started:hover {
  background-color: #F3D7EF;
  color: #ffffff;
  transition: 0.5s;

}

.iu {
  color: #1284EE;
}

.us {
  color: #1284EE;
}

.heading2 {
  position: absolute;
  width: 288px;
  height: 75px;
  left: 239px;
  top: 1150px;

  font-family: 'Raleway';

  font-weight: 200;
  font-size: 64px;
  line-height: 75px;
  text-align: center;

  color: #000000;

  mix-blend-mode: darken;
}

.about-prg {
  position: absolute;
  width: 617px;
  height: 251px;
  left: 75px;
  top: 1250px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  text-align: center;

  color: #000000;
}

.aboutus {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1) 100%), url('Group 1.png');

}

.jugling {
  position: absolute;
  width: 800px;
  height: 800px;
  left: 661px;
  top: 800px;

  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));

}

.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateX(0%);

}


.servece-slide {
  position: absolute;
  width: 1179px;
  height: 523px;
  left: 151px;
  top: 1969px;

  background: rgba(255, 255, 255, 0);
  border-radius: 48px;
}

.carousel-indicators {
  position: absolute;
  top: 550px;

}

.carousel-control-prev {
  top: 200px;
  color: black;
}

.carousel-control-next {
  top: 200px;
  color: black;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.carousel-inner {
  padding: 50px;
}

.slide1 {

  position: relative;
  width: 364px;
  height: 46px;
  display: inline-flex;
  justify-content: center;
  left: 30%;
  top: 0px;
  overflow: visible;
  padding-bottom: 100px;


  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;

  color: #000000;
}

.para1 {
  position: relative;
  display: flexbox;
  flex-direction: row;
  top: 0px;


  font-family: 'Raleway';

}

.monitor {
  align-self: center;
  display: flex;
  position: relative;
  top: 70px;
  left: 45%;
  overflow: visible;
  z-index: 9999;

}

.subcomp {

  padding: 100px;
  border-radius: 30px;
  background: rgba(255, 252, 252, 0.53);

}

.monitor1 {
  align-self: center;
  display: flex;
  position: relative;
  top: 100px;
  left: 43%;
  overflow: visible;
  z-index: 9999;

}

.service-head {
  position: absolute;
  top: 1800px;
  z-index: 9999;
  left: 33%;
  font-family: Raleway;
  font-size: 900;
  width: 607px;
  height: 104px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 113px;

  color: #000000;



}

span {
  color: #1284EE;
  font-family: Raleway;

}

.prjct-hdng {
  position: absolute;
  width: 607px;
  height: 104px;
  left: 500px;
  top: 2900px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 113px;

  color: #000000;
}

.cards {
  position: absolute;
  top: 3000px;

  display: inline;
  display: flex;
  flex-direction: row;
  margin: 100px;
  align-items: center;
  justify-content: center;
  color: #1284EE;
  border: none;



}

.card {
  margin: 70px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  right: -20px;
  position: relative;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;


}

.project {
  color: #1284EE;
}

.card:hover {
  background-color: #ffffff;
  /* Set the background color on hover */
}

.card:hover::before {
  content: "Some quick example text to build on the card title and make up the bulk of the card's content.";

  /* Add an empty content */
  position: absolute;
  /* Set the position to absolute to position the text on top */
  top: 0;
  /* Position the text on top */
  left: 0;
  /* Position the text on the left */
  width: 100%;
  /* Set the width to 100% to fill the card */
  height: 100%;
  /* Set the height to 100% to fill the card */
  background-color: rgba(0, 0, 0, 0.5);
  /* Set the background color for the text */
  z-index: 1;
  /* Set the z-index to 1 to position the text on top */
  opacity: 0;
  /* Set the opacity to 0 to hide the text */
  transition: opacity 1.3s ease-out;
  /* Add a transition effect */
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 30px;
  padding-top: 100px;
}

.card:hover::after {
  content: attr('hello');
  /* Add the text to the content attribute */
  position: absolute;
  /* Set the position to absolute to position the text on top */
  top: 50%;
  /* Position the text in the middle of the card */
  left: 50%;
  /* Position the text in the middle of the card */
  transform: translate(-50%, -50%);
  /* Center the text */
  z-index: 2;
  /* Set the z-index to 2 to position the text on top of the background color */
  color: #ffffff;
  /* Set the color for the text */
  font-size: 18px;
  /* Set the font size for the text */
  font-weight: bold;
  /* Set the font weight for the text */
  opacity: 0;
  /* Set the opacity to 0 to hide the text */
  transition: opacity .3s ease-in-out;
  /* Add a transition effect */
}

.card:hover::before,
.card:hover::after {
  opacity: 1;
  /* Set the opacity to 1 to display the text */
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -55%) scale(1);
  }
}


.card {
  width: 280px;
  height: 360px;
  border-radius: 30px;
  padding: 1.5rem;
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: translateY(15px);
  background: #9ac8f3;
}

.card:hover:before {
  opacity: 1;
  background: #76ade151;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(161, 214, 254, 0.773);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card .info h1 {
  margin: 0px;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

.card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.card .info button:hover {
  background: dodgerblue;
  color: white;
}

.our-heading {
  position: absolute;
  width: 607px;
  height: 104px;
  left: 550px;
  top: 3700px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 113px;

  color: #000000;
}

span {
  color: #1284EE;
}

.single {
  position: absolute;
  top: 3900px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 13%;
}

.card1 {
  background-color: #00000017;
  border-radius: 30px;
  padding: 30px;
}

.vertical-line {
  border-left: 2px solid black;
  /* Set the border style */
  height: 100%;
  /* Set the height to 100% to fill the container */
}

.projects {
  position: absolute;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-family: raleway;
  font-size: 100px;
  padding: 50px;
  padding-left: 100px;
}

.prjct {
  position: absolute;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-family: raleway;
  font-size: xx-large;
  top: 200px;
  left: 130px;
}

.line {
  border-left: solid black 2px;
  height: 250px;
  position: absolute;
  left: 400px;
  top: 35px;
}

.clients {
  position: absolute;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-family: raleway;
  font-size: 100px;
  padding: 50px;
  left: 450px;
}

.clint {
  position: absolute;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-family: raleway;
  font-size: xx-large;
  top: 200px;
  left: 500px;
}

.line2 {
  border-left: solid black 2px;
  height: 250px;
  position: absolute;
  left: 750px;
  top: 35px;
}

.reviews {
  position: absolute;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-family: raleway;
  font-size: 100px;
  padding: 50px;
  left: 750px;


}

.rvws {
  position: absolute;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-family: raleway;
  font-size: xx-large;
  top: 200px;
  left: 850px;

}

.clnt-heading {
  position: absolute;
  width: 607px;
  height: 104px;
  left: 550px;
  top: 4400px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 113px;

  color: #000000;
}

.clnt-cards {
  position: absolute;
  top: 4600px;
  padding: 40px;
  display: inline;
  display: flex;
  justify-content: center;
  left: 15%;
}

.card-clnt {
  background-color: #00000025;
  padding: 30px;
  border-radius: 20px;
  margin: 30px;
  position: absolute;
  top: 4800px;


}

.card11 {
  margin: 30px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 50px;
  padding: 30px;
  width: 412px;
  height: 400px;
}

.card2 {
  margin: 30px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 50px;
  padding: 30px;
  width: 412px;
  height: 400px;
}

.card3 {
  margin: 30px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 50px;

  padding: 30px;
  width: 412px;
  height: 400px;
}

.avatar {
  position: absolute;
  top: 4600px;
  width: 120px;
  height: 120px;
  left: 380px;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
  border-radius: 100px;
  z-index: 1;
}

.avatar1 {
  position: absolute;
  top: 4600px;
  width: 120px;
  height: 120px;
  left: 730px;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
  border-radius: 100px;
  z-index: 1;
}

.avatar2 {
  position: absolute;
  top: 4600px;
  width: 120px;
  height: 120px;
  left: 1080px;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
  border-radius: 100px;
  z-index: 1;
}

.card-body1 {
  position: relative;
  top: 40px;
  text-align: center;
}

.star {
  position: relative;
  right: 0px;
  padding-top: 20px;
  width: 150px;
  height: 47px;
  ;
}

.star1 {
  position: relative;
  right: 0px;
  padding-top: 20px;
  width: 150px;
  height: 47px;
  ;
}

.star2 {
  position: relative;
  right: 0px;
  padding-top: 20px;
  width: 150px;
  height: 47px;
  ;
}

.ourteam {
  position: absolute;
  top: 5400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.team {
  position: absolute;
  text-align: center;
  position: absolute;
  width: 458px;
  height: 104px;
  left: 550px;
  top: -200px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 113px;
}

.card-team {
  margin-left: 120px;
  background-color: #ABD9FB;
  padding: 30px;
  border-radius: 50px;
  box-shadow: #00000017 2px 2px 2px 2px;
  top: 200px;
  min-width: 1303px;
  height: 300px;
  text-align: right;
  justify-content: center;
  display: flexbox;




}

.card-title1 {
  position: relative;
  width: 488px;
  height: 82px;
  left: 500px;


  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;


}

.card-subtitle1 {
  position: relative;
  left: 490px;
  width: 543px;
  height: 46px;


  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 10px;

}

.card-text1 {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: justify;
  position: absolute;
  width: 647px;
  height: 168px;
  left: 680px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 42px */


  color: rgba(64, 62, 62, 0.9);


}

.sally {
  position: absolute;
  width: 519px;
  height: 490px;
  left: -500px;
  top: -360px;
}

.ourteam1 {
  position: absolute;
  top: 5900px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-title2 {
  position: relative;
  width: 488px;
  height: 82px;
  left: 0px;


  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;


}

.card-subtitle2 {
  position: relative;
  left: -630px;
  width: 543px;
  height: 46px;


  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 10px;
  display: inline;

}

.card-text2 {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: justify;
  position: absolute;
  width: 647px;
  height: 168px;
  left: 180px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  padding-top: 30px;
  /* or 42px */


  color: rgba(64, 62, 62, 0.9);


}

.card-team1 {
  margin-left: 120px;
  box-shadow: #00000017 2px 2px 2px 2px;
  background: #F3D7EF;
  border-radius: 50px;
  padding: 30px;
  top: 100px;
  min-width: 1303px;
  height: 300px;
  text-align: right;
  justify-content: center;
  display: flexbox;




}

.sally2 {
  position: absolute;
  width: 600px;
  height: 443px;
  left: 100%;
  top: -290px;


}